{% load static %}
<div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-xl text-center">
        <h2 class="text-lg font-semibold leading-8 tracking-tight text-rose-600">Testimonials</h2>
        <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Our impacts helps us sleep, with a Smile. 😊</p>
      </div>
      <div class="mx-auto mt-16 flow-root max-w-2xl sm:mt-20 lg:mx-0 lg:max-w-none">
        <div class="-mt-8 sm:-mx-4 sm:columns-2 sm:text-[0] lg:columns-3">
          <div class="pt-8 sm:inline-block sm:w-full sm:px-4">
            <figure class="rounded-2xl bg-gray-50 p-8 text-sm leading-6">
              <blockquote class="text-gray-900">
                <p>“Coming from a very humble background, Craking TCS that too digital is like a dream come true for me.”</p>
              </blockquote>
              <figcaption class="mt-6 flex items-center gap-x-4">
                <img class="h-10 w-10 rounded-full bg-gray-50" src="" alt="">
                <div>
                  <div class="font-semibold text-gray-900">Radhika Mishra</div>
                  <div class="text-gray-600">@mis.radhika</div>
                </div>
              </figcaption>
            </figure>
          </div>

          <div class="pt-8 sm:inline-block sm:w-full sm:px-4">
            <figure class="rounded-2xl bg-gray-50 p-8 text-sm leading-6">
              <blockquote class="text-gray-900">
                <p>“I love how Sourabh identified that I needed more help and provided additional feedback after the GD hours.”</p>
              </blockquote>
              <figcaption class="mt-6 flex items-center gap-x-4">
                <img class="h-10 w-10 rounded-full bg-gray-50" src="" alt="">
                <div>
                  <div class="font-semibold text-gray-900">Arihan Prakash</div>
                  <div class="text-gray-600">@prakash7</div>
                </div>
              </figcaption>
            </figure>
          </div>

          <div class="pt-8 sm:inline-block sm:w-full sm:px-4">
            <figure class="rounded-2xl bg-gray-50 p-8 text-sm leading-6">
              <blockquote class="text-gray-900">
                <p>“In the last 8 GDs,I have seen myself being a novice to an intermedite practitioner of gd. I loved when my peers voted for me as the best performer for todays gd”</p>
              </blockquote>
              <figcaption class="mt-6 flex items-center gap-x-4">
                <img class="h-10 w-10 rounded-full bg-gray-50" src="{% static 'images/common/ashwini shinde.jpg' %}" alt="">
                <div>
                  <div class="font-semibold text-gray-900">Shreya Shinde</div>
                  <div class="text-gray-600">@Shreya shinde-0129a2292</div>
                </div>
              </figcaption>
            </figure>
          </div>

          
        </div>
      </div>
    </div>
  </div>
  