<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="{% static 'images/common/groupdiscussion.png' %}">
    {% block title %}{% endblock %}
    {% block head %}{% endblock %}
</head>
<body>
    {% include 'common/snippets/navbar.html' %}
    {% include 'common/snippets/messages.html' %}
    {% block body %}{% endblock %}
    {% include 'common/snippets/footer.html' %}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.js"></script>
    <div class="mb-5 mb-md-0 mr-5 my-md-0">
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
          var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
          (function(){
          var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
          s1.async=true;
          s1.src='https://embed.tawk.to/625514f27b967b11798a44fb/1g0e5jlvk';
          s1.charset='UTF-8';
          s1.setAttribute('crossorigin','*');
          s0.parentNode.insertBefore(s1,s0);
          })();
          </script>
          <!--End of Tawk.to Script-->

 
      </div>
    {% block scripts %}{% endblock %}
</body>
</html>