{% extends "layouts/base.html" %}

{% block title %}<title>Payments Dashboard</title>{% endblock %}

{% block body %}
<div class="px-4 sm:px-6 lg:px-8">
    <div class="mt-8 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-300">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Index</th>
                  <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">Title</th>
                  <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">Amount</th>
                  <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">Status</th>
                  <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">Date Paid</th>
                  <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-white bg-rose-500">Meeting Link</th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 bg-white">
                {% for payment in payments %}
                <tr>
                  <td class="py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">{{ forloop.counter }}</td>
                  <td class="py-4 px-3 text-sm text-gray-500">{{ payment.group_discussion.title }}</td>
                  <td class="py-4 px-3 text-sm text-gray-500">{% widthratio payment.amount 100 1 %}</td>
                  <td class="py-4 px-3 text-sm text-gray-500">{{ payment.status }}</td>
                  <td class="py-4 px-3 text-sm text-gray-500">{{ payment.created_at }}</td>
                  <td class="py-4 px-3 text-sm text-gray-500"><a href="{{payment.group_discussion.meeting_url}}" target="_blank" class="text-white bg-rose-500 rounded py-2 px-4">Join Meeting</a></td>
                </tr>
                {% empty %}
                <tr>
                  <td class="py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6" colspan="6">No Bookings found.</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
            <h2 class="mt-8 text-2xl font-semibold tracking-tight text-gray-900">Referral Link</h2>
            <p class="mt-2 text-sm text-gray-500 font-semibold">Share this link with your friends and earn 33% of their payments which you can use to participate in GD or Interview.</p>
            <a href="{% url 'groupdiscussions:list_group_discussions' %}?referer={{ request.user.username }}" class="mt-2 text-sm text-indigo-500">{{base_domain_url}}{% url 'groupdiscussions:list_group_discussions' %}?referer={{ request.user.username }}</a>
        </div>
      </div>
    </div>
</div>
{% endblock %}
