{% extends "layouts/base.html" %}
{% load static %}

{% block body %}
<!-- display a message that email sent -->
<div class="mx-16 my-16">
    <img class="mx-auto h-10 w-auto" src="{% static 'images/common/groupdiscussion.png' %}" alt="Swabhyaas">
    <p class="text-center text-xl font-bold text-rose-500">If a user is registered with this email then we have sent a password reset request in the email.</p>
    <p class="text-center text-medium font-bold text-rose-400">If you don't see the email, please check your spam folder.</p>
</div>
{% endblock %}
