{% extends 'layouts/base.html' %}

{% block body %}
<div class="container px-10 py-10 sm:max-w-full">
    <div class="container">
        <div class="row justify-center">
            <div class="my-2">
                <h1 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto">Privacy Policy</h1>
                <p class="lead font-weight-bold mt-4">
                    General
                </p>
                <p class="lead">
                    The Swabhyaas website ("Website") ("swabhyaas.com", "us" or "we") means the same for this policy. Access and use of the Service is subject to the acceptance of our Terms and Conditions of Service ("Terms and Conditions"). By accessing or using any part of the Service, you represent that you have read, understood, and agree to be bound by our Terms and Conditions including any future modifications. Swabhyaas may amend, update or change these Terms and Conditions. If we do this, we will post a notice that we have made changes to these Terms and Conditions on the Website for at least 7 days after the changes are posted. Any revisions to these Terms and Conditions will become effective the earlier of (i) the end of such 7-day period or (ii) the first time you access or use the Service after such changes. If you do not agree to abide by these Terms and Conditions, you are not authorized to use, access or participate in the Service. 
                </p>
                <p class="lead font-weight-bold mt-4">
                    Information we collect
                </p>
                <p class="lead">
                    The visitors are free to navigate through our website without providing any personally identifiable information if they do not want to register with us.
                    To gain access to some of our products and services, you need to register with us and obtain an account, user name, and password. If you choose to register with us, and are 18 years of age or older, we will collect your personally identifiable information such as your name, email address, and phone number. We do not collect more information than is absolutely necessary to allow your participation in an activity on the website.
                    We collect and analyze information about your general usage of the website, products, services, and courses. We might track your usage patterns to see what features of the website you commonly use, website traffic volume, frequency of visits, type and time of transactions, type of browser, browser language, IP address and operating system, and statistical information about how you use our products and services. We only collect, track and analyze such information in an aggregate manner that does not personally identify you. Read the section on use of Cookies to know how we collect, aggregate data.
                </p>
                <p class="lead font-weight-bold mt-4">
                    How do we use your information?
                </p>
                <p class="lead">
                    We do not sell your data. We use the collected information to improve our website and to send you relevant information about our products and services which we think may be of interest to you. If you have subscribed for a service on our website, then your personally identifiable information may be used to enable us to serve you better.
                    We use the collected website information such as your usage patterns and how you access and use our products and services to help us improve our offerings and assist us in operating the website better.
                    When you enroll in a course or groupdiscussion, we might share your personally identifiable information with instructors/moderators as part of the course information to help them provide the course to you.
                </p>
                <p class="lead font-weight-bold mt-4">
                    Ineractive materials
                </p>
                <p class="lead">
                    There are portions of this website that may allow users to post their own material. As a user of this website, you agree that we do not necessarily endorse the views posted on our forums. By posting materials on this website, you represent that you have all necessary rights in and to such materials and that such materials will not infringe any personal or proprietary rights of any third parties.
                    We reserve the right to review or edit any material posted by users which we deem defamatory, unlawful, threatening, obscene or otherwise objectionable.
                </p>
                <p class="lead font-weight-bold mt-4">
                    Children
                </p>
                <p class="lead">
                    We are committed to protecting children's privacy online. This website is intended for users above the age of 13. We do not knowingly collect information from children. We do not send unsolicited direct email to users who have indicated on registering of those pages that they are under 13. Children under 13 should ask a parent, guardian or teacher for permission before sending us information online.
                </p>
                <p class="lead font-weight-bold mt-4">
                    Links to other websites/services
                </p>
                <p class="lead">
                    Our website contains links to other websites. The users need to take notice of the fact that the linked websites are governed by their own privacy policies and we disclaim any responsibility arising out of your actions on the linked website. We advise users to go through the privacy policy of the linked website and their terms and conditions before sharing any information to these websites.
                </p>
                <p class="lead font-weight-bold mt-4">
                    Cookies
                </p>
                <p class="lead">
                    We collect cookies to enhance our user's experience. We use cookies to maintain the session of your user. It is not used to personally identify you on other websites.To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.
                </p>
                <p class="lead font-weight-bold mt-4">
                    Payments
                </p>
                <p class="lead">
                    We use Razorpay for processing payments. We/Razorpay do not store your card data on their servers. The data is encrypted through the Payment Card Industry Data Security Standard (PCI-DSS) when processing payment. Your purchase transaction data is only used as long as is necessary to complete your purchase transaction. After that is complete, your purchase transaction information is not saved.
                    Our payment gateway adheres to the standards set by PCI-DSS as managed by the PCI Security Standards Council, which is a joint effort of brands like Visa, MasterCard, American Express and Discover.
                    PCI-DSS requirements help ensure the secure handling of credit card information by our store and its service providers.
                    For more insight, you may also want to read terms and conditions of razorpay on https://razorpay.com
                </p>
            </div>
        </div>
    </div>

</div>
{% endblock body %}
