{% extends 'layouts/base.html' %}


{% block body %}
<div class="container px-10 py-10 sm:max-w-full">
    <div class="container">
        <div class="row">
            <div class="my-2">
                <h1 class="display-4">Refund Policy</h1>
                <p class="lead">
                    We do not provide refunds for any of our services. In case the customer/participant is having technical issues and is unable to attend to our services then our team may decide to reschedule or refund your amount after deducting the following charges.
                </p>
                <ul>
                    <li>1. Payment Gateway Charges</li>
                    <li>2 . GST Charges</li>
                    <li>3. Miscellaneous Charges: 33%</li>
                </ul>
            </div>
        </div>
        <p class="lead">
            For refunds you can reach out to <a href="mailto:support@mockinterview.in" class="text-rose-500">support@mockinterview.in</a>
        </p>
        <p class="text-danger lead">Note : It may take 5-7 working days to process refunds.</p>
    </div>
</div>

<div class="container px-10 py-10 sm:max-w-full">
    <div class="container">
        <div class="row">
            <div class="my-2">
                <h1 class="display-4">Cancellation Policy</h1>
                <p class="lead">
                    1. Cancellations will be considered only if the cancellation request is made 6 hours after placing the order. However, the cancellation request will not be entertained if the orders have already been completed or service has been provided. For cancellations you can reach out to <a href="mailto:support@mockinterview.in" class="text-rose-500">support@mockinterview.in</a>
                </p>
                <p class="lead">
                    2. No cancellations are allowed for products/services on which our marketing team has given special offers for various purposes including but not limited to special occasions like New Year, festivals, specific examination, etc. These are limited validity offers and therefore cancellations are not possible.
                </p>
                <p class="lead">
                    3. No cancellations are allowed for products/services on which you have applied any referral code or coupon code.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container px-10 py-10 sm:max-w-full">
    <div class="container">
        <div class="row">
            <div class="my-2">
                <h1 class="display-4">Service Reschedule Policy</h1>
                <p class="lead">
                    1. Once you have booked a service, you cannot reschedule the same.
                </p>
            </div>
        </div>
    </div>
</div>    
{% endblock body %}