{% extends "layouts/base.html" %}

{% block title %}
<title>Schedule Group Discussions Online</title>
{% endblock %}

{% block body %}
<div class="flex flex-wrap px-5 mt-16">
    {% for groupdiscussion in group_discussions %}
    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/3 xl:w-1/3 px-4 mb-8">
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="p-5">
                <a href="{% url 'groupdiscussions:group_discussion_detail' groupdiscussion.slug %}">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-rose-500 dark:text-white">{{groupdiscussion.title}}</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{groupdiscussion.small_description}}</p>
                <a href="{% url 'groupdiscussions:group_discussion_detail' groupdiscussion.slug %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-rose-500 rounded-lg hover:bg-rose-800 focus:ring-4 focus:outline-none focus:ring-rose-300 dark:bg-rose-600 dark:hover:bg-rose-700 dark:focus:ring-rose-800">
                    Schedule Now
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
